.app-container {
  background-color: rgb(252, 163, 17);
  color: rgb(20, 33, 61);
  position: relative;
  margin: 0% 20% 0% 20%;
  width: 60%;
  text-align: center;
  border: 4px solid rgb(229, 229, 229);
  border-radius: 2rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgb(239, 239, 24);
  min-height: 100%;
  position: fixed;
}
.themeBtnLight {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(125, 125, 125);
  color: white;
  font-weight: bold;
  font-size: medium;
  justify-content: space-between;
  border-radius: 40px;
  padding: 5px 15px 5px 15px;
  width: 100px;
  cursor: pointer;
}
.theme_logo {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.themeBtnLight:hover {
  cursor: pointer;
  zoom: 1.001;
  border: 3px solid black;
}
.themeBtnDark {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  color: rgb(125, 125, 125);
  background-color: white;
  font-weight: bolder;
  font-size: medium;
  justify-content: space-between;
  border-radius: 40px;
  padding: 5px 15px 5px 15px;
  width: 100px;
  cursor: pointer;
  display: none;
}
.themeBtnDark:hover {
  cursor: pointer;
  zoom: 1.001;
  border: 3px solid black;
}
body {
  transition: background-color 0.25s, color 0.25s;
}
.hidden {
  display: none;
  margin-top: 10px;
  font-size: large;
  font-weight: 700;
}
.loader {
  display: none;
  margin-top: 10px;
  font-size: large;
  font-weight: 700;
}
.weather-display {
  display: none;
  font-size: large;
  font-weight: 600;
}
.display_alert {
  margin: 15px;
  font-size: large;
}
.app-footer {
  position: fixed;
  bottom: 0;
}
.search-section input {
  padding: 1rem;
  font-size: large;
  font-weight: 500;
  border-radius: 20rem;
  margin-top: 10px;
}
.search-section input:focus {
  zoom: 1.01;
  border: 4px solid black;
}
.search-section button {
  padding: 1rem;
  font-size: large;
  font-weight: 500;
  border-radius: 20rem;
  margin-top: 10px;
}
.search-section button:hover {
  zoom: 1.01;
  border: 4px solid black;
  font-weight: 700;
  cursor: pointer;
}
.unit-toggle button {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
  border-radius: 20rem;
}
.unit-toggle button:active {
  color: white;
  background-color: black;
}
.unit-toggle button:hover {
  cursor: pointer;
  zoom: 1.01;
  border: 3px solid black;
  font-weight: 400;
}
