.app-container {
  background-color: rgb(252, 163, 17);
  color: rgb(20, 33, 61);
  position: relative;
  margin: auto;
  width: 60%;
  text-align: center;
  border: 4px solid rgb(229, 229, 229);
  border-radius: 4.5%;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgb(239, 239, 24);
  height: auto;
}
.themeBtnLight {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(125, 125, 125);
  color: white;
  font-weight: bold;
  font-size: medium;
  justify-content: space-between;
  border-radius: 40px;
  padding: 5px 15px 5px 15px;
  width: 100px;
  cursor: pointer;
}
.theme_logo {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.themeBtnDark {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  color: rgb(125, 125, 125);
  background-color: white;
  font-weight: bolder;
  font-size: medium;
  justify-content: space-between;
  border-radius: 40px;
  padding: 5px 15px 5px 15px;
  width: 100px;
  cursor: pointer;
  display: none;
}
body {
  transition: background-color 0.25s, color 0.25s;
}
.hidden {
  display: none;
}
.loader {
  display: none;
}
